.aa{
    height: 40px;
}


.card-body{
    background-color: rgb(181, 184, 17);
padding: 2px;
}

.card-header{
    background-color: rgb(48, 178, 196);
padding: 1px;
}

h2{
    font-family: monospace;
    background-color: blueviolet;
}


ul{
    background-color: rgb(0, 0, 0);
padding: 1px;
}
div{
        background-color: rgb(0, 0, 0);
    padding: 1px;
    
}
